:root {
  --primary-color: #3e8bf0;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #c0c0c0;
}
/* =====NAV SECTION========= */
.navbar {
  background-color: #fffbfb;
  height: 50px;
  line-height: 50px;
}
.container {
  display: flex;
  justify-content: space-between;
}
nav {
  display: none;
}

#logo {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  padding-left: 0.2em;
}
span {
  color: var(--primary-color);
}

.hero {
  padding-top: 5em;
  align-content: center;
}

#hero-list,
#hero-image {
  padding: 0em 1em 0em 1em;
  text-align: center;
}
#illust {
  width: 70%;
  margin-top: 5em;
  margin-bottom: 5em;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
h4 {
  font-weight: bold;
  color: gray;
  letter-spacing: 0.5em;
  font-size: 1em;
  padding: 0em;
}
h1 {
  color: black;
  font-size: 2.5em;
}
.bold {
  width: 6em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  padding: 0.6em 1em;
  margin: 0em auto 1em;
  border: var(--primary-color) 2px solid;
  border-radius: 4em;
  display: block;
  text-align: center;
  font-size: 1.5em;
}
#watch {
  display: block;
  color: black;
  font-size: 1em;
}
#watch img {
  margin-right: 1em;
  display: inline-block;
}
.section3 {
  background-color: #1c1c31;
  color: #ffffff;
  padding: 5em 0;
}
.services {
  margin: auto;
  padding-left: 2em;
}
.services ul {
  list-style-image: url(/images/bullet.svg);
  display: grid;
  justify-content: center;
  justify-items: left;
}
ul li {
  position: relative;
  font-size: 1.2em;
  padding-bottom: 1em;
}

#phone {
  display: none;
  float: right;
  width: 24%;
  margin-top: -11em;
  margin-bottom: -2em;
}
.section4 {
  padding-top: 2em;
  padding-bottom: 0em;
  background-color: var(--primary-color);
  justify-content: center;
}
.c4 {
  display: block;
  margin: 12em 0em;
  justify-content: center;
  padding-top: 4em;
}
.divc4 {
  margin: -12em 0em;
  padding-bottom: 5em;
  margin-bottom: 10em;
}
.c4 img {
  display: block;
  width: 7em;
  border: 5px solid #6f6fc0;
  border-radius: 50%;
  margin-top: -9em;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
}
.c4 .bol {
  text-align: center;
  padding: 5em 3em 3em;
  margin: -4em 3em 3em;
  line-height: 1.5em;
  background-color: #6f6fc0;
  border: 2px solid #6f6fc0;
  border-radius: 1.5em;
  color: white;
}
.contact {
  padding-top: 0em;
  margin-top: 0;
}
textarea,
input {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: rgb(237, 237, 238);
  border: 1px solid gray;
  border-radius: 0.4em;
  padding: 1em;
  box-sizing: border-box;
}

form {
  color: black;
  padding: 0 3em 0 3em;
}
#f {
  color: black;
  font-size: 2em;
  margin-top: -2em;
}
label {
  font-size: 1.5em;
}
.message {
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  margin: 0.2em auto;
  border: var(--primary-color) 2px solid;
  border-radius: 4em;
}
nav.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1c1c31;
  width: 50%;
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 999;
  padding: 2em;
}
.menu #list2 {
  margin-top: -1em;
}
.menu ul li {
  margin-top: 1em;
  list-style: none;
  text-align: right;
  line-height: 0.1em;
}
.menu ul li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-bottom: -3em;
}
.menu ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
}
#exit-btn {
  width: 10%;
  align-self: flex-end;
  margin-bottom: 1em;
}

@media screen and (min-width: 900px) {
  nav {
    display: flex;
    justify-content: space-between;
    margin-right: 0em;
  }
  #exit-btn {
    display: none;
  }
  #list2 #blue {
    color: var(--primary-color);
    font-weight: bold;
    border: 3px solid var(--primary-color);
    border-radius: 1em;
    padding: 2px 20px;
  }
  #list1 {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0em 0 0 0;
    margin-left: 3em;
  }
  #list2 {
    display: flex;
    margin: 0 0em 0 0em;
    padding: 0em 0 0 0;
    list-style: none;
    margin-left: 5em;
  }
  a.firstlistitem,
  ul#list2 a {
    text-decoration: none;
    margin: auto 1em;
    padding: auto 2em;
    vertical-align: middle;
    font-size: 1em;
    color: black;
  }
  #menu-btn {
    display: none;
    cursor: pointer;
  }
  .hero {
    display: block;
    text-align: center;
    padding: 8em 3em 4em 3em;
    font-size: 160%;
  }
  .services ul {
    list-style-image: url(/images/bullet.svg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: left;
    font-size: 120%;
    margin-left: 5em;
  }
}
@media screen and (min-width: 1100px) {
  .services ul {
    list-style-image: url(/images/bullet.svg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: left;
  }
  .hero {
    padding-top: 5em;
    align-content: center;
    font-size: 100%;
  }
  #exit-btn {
    display: none;
  }

  #hero-list,
  #hero-image {
    padding: 0em 1em 0em 1em;
    text-align: center;
  }
  #illust {
    width: 70%;
    margin-top: 5em;
    margin-bottom: 5em;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  h4 {
    font-weight: bold;
    color: gray;
    letter-spacing: 0.5em;
    font-size: 1em;
    padding: 0em;
  }
  h1 {
    color: black;
    font-size: 2.5em;
  }
  .bold {
    width: 6em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    padding: 0.6em 1em;
    margin: 0em auto 1em;
    border: var(--primary-color) 2px solid;
    border-radius: 4em;
    display: block;
    text-align: center;
    font-size: 1.5em;
  }
  #watch {
    display: block;
    color: black;
    font-size: 1em;
  }
  #watch img {
    margin-right: 1em;
    display: inline-block;
  }
}

@media screen and (min-width: 1310px) {
  #logo {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 6.5em;
  }
  .container {
    display: flex;
    justify-content: space-around;
    padding-right: 3.5em;
  }

  #list1 {
    list-style: none;
    margin-right: 17em;
  }
  #list2 {
    margin-left: 8em;
    margin-right: 3em;
    list-style: none;
  }
  a.firstlistitem,
  ul#list2 a {
    text-decoration: none;
    margin: auto 1em;
    padding: auto 2em;
    vertical-align: middle;
    font-size: 1em;
    color: black;
  }
  #exit-btn {
    display: none;
  }

  .hero {
    margin-left: 11em;
    padding-right: 15em;
    padding-bottom: 5em;
    padding-top: 15em;
    display: flex;
    justify-content: space-between;
    font-size: 100%;
  }

  #hero-list {
    margin-right: -10em;
    text-align: left;
    padding-right: 18em;
  }
  #hero-image {
    margin-right: 5em;
  }
  #illust {
    width: 100%;
    margin-top: 0px;
  }
  h4 {
    font-weight: bold;
    color: gray;
    letter-spacing: 0.5em;
    font-size: 1em;
    padding: 0em;
    line-height: 0.1em;
  }
  h1 {
    color: black;
    font-size: 3.5em;
    line-height: 1.3em;
  }
  .bold {
    width: 6em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    padding: 0.6em 1em;
    border: var(--primary-color) 2px solid;
    border-radius: 4em;
    display: inline;
    text-align: center;
    font-size: 1.5em;
  }
  #watch {
    display: inline;
    color: black;
    font-size: 1em;
  }
  #watch img {
    margin-right: 1em;
    margin-left: 1em;
    display: inline;
  }
  #phone {
    position: relative;
    display: inline;
    float: right;
    width: 40%;
    margin-top: -12.5em;
    margin-right: -10em;
    padding-bottom: 2em;
  }
  .section3 {
    padding: 10em;
    position: relative;
  }
  .services ul {
    list-style-image: url(/images/bullet.svg);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: left;
    margin-left: 5em;
    font-size: 1.5em;
  }
  .services::before {
    content: " ";
    width: 10%;
    height: 40%;
    position: absolute;
    background-color: var(--primary-color);
    margin-left: -12em;
    margin-top: -15em;
    padding-bottom: 4em;
  }
  .services::after {
    content: " ";
    width: 25%;
    height: 75%;
    position: absolute;
    background-image: url(/images/dots.svg);
    background-repeat: no-repeat;
    margin-left: -9.5em;
    margin-top: -30em;
  }
  .section4 {
    padding-top: 12em;
    padding-bottom: 0em;
    background-color: var(--primary-color);
  }
  .c4 {
    display: flex;
    margin: 12em 0em;
    justify-content: center;
    padding-top: 4em;
  }
  .divc4 {
    margin: -12em 0em;
    padding-bottom: 0.5em;
    margin-bottom: 10em;
  }
  .c4 img {
    display: block;
    width: 7em;
    border: 5px solid #6f6fc0;
    border-radius: 50%;
    margin-top: -9em;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
  }
  .c4 .bol {
    text-align: center;
    padding: 5em 3em 3em;
    margin: -4em 3em 3em;
    line-height: 1.5em;
    background-color: #6f6fc0;
    border: 2px solid #6f6fc0;
    border-radius: 1.5em;
    color: white;
  }
}
